<h1>Teams</h1>

<% if current_user&.role == 'player' %>
  <%= link_to "Create New Team", new_team_path, class: "button" %>
<% end %>

<div class="teams-list">
  <% @teams.each do |team| %>
    <div class="team-card">
      <h2><%= link_to team.name, team_path(team) %></h2>
      <p><%= truncate(team.description, length: 100) if team.description %></p>
      <p><small>Owner: <%= team.player.user.name %></small></p>
    </div>
  <% end %>
</div>